
body {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-bottom: 200px; /* Ajuste selon la hauteur du footer */
}


footer {
  background: linear-gradient(135deg, hsl(203, 95%, 49%), #010c83);
  width: 100%;
  color: white;
  padding: 40px 20px 20px;
  font-family: sans-serif;
  z-index:1;
}

.footer-container {
font-family: "Merriweather", serif, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:40px;


}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 12px;
  color: white;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  line-height: 1.6;
  color: white;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
  color:rgb(9, 193, 193);

}

.footer-bottom {
  font-family: "Merriweather", serif, sans-serif;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  color: white;
  border-top: 1px solid #cbd5e1;
  margin-top: 30px;
  
}
.footer-section ul {
    list-style: none;
    padding: 0;
  }
  @media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-section {
    flex: none;
    width: 100%;
  }
}
